3ª Ev/Boletin XML/Ejercicio4/compra.dtd

<!ELEMENT listacompra (venta+)>

<!ELEMENT venta (ventaacredito | ventainmediata)>

<!ELEMENT ventaacredito (fechafinpago?, cantidad)>
<!ELEMENT fechafinpago (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>

<!ELEMENT ventainmediata (cantidad, divisa)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT divisa (#PCDATA)>